@media only screen and (min-width: 1024px){
  nav{
    background-color: $nav-colour;
  }

  #form-articles-container{
    width: 57.5%;
    float: right;
    margin-right: 2.5%;
  }

  .container{
    display: block;
  }
  
  #page-header-container{
    position: fixed;
    top: 200px;
    width: 40%;
  }
  #page-header-content{
    width: 350px;
    height: 350px;
    margin: auto;
  }
  nav{
    padding: 2em;
    background-image: none;
  }

  .brand {
    font-size: 1.75em;
  }

  #toggle-form-btn-container{
    font-size: 1em;
  }
}