#add-tweet-form{
  font-family: $secondary-font-family;

  input{
    background-color: $nav-colour;
    border: none;
    padding: 10px;
    color: $secondary-font-colour;
  }
}

#form-articles-container{
  width: $main-width;
  align-self: center;
}

#tweet-text{
  background-color: $secondary-font-colour;
  width: 100%;
  border: none;
  resize: none;
  border-bottom: 2px solid $primary-font-colour;
  height: 2em;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-family: $primary-font-family;
  font-weight: 700;
  color: $primary-font-colour;
}

#counter {
  float: right;
}

.tweet-content {
  border-bottom: 3px solid $primary-font-colour;
  padding: 20px;
  margin-bottom: 5px;
}

.tweet-article{
  border: 3px solid $primary-font-colour;
  padding: 10px;
  margin-top: 20px;
  opacity: 0.8;
  overflow: hidden;
}

.tweet-article>footer {
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.tweet-article img{
  height: 50px;
  width: 50px;
}

.tweet-article header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-article header>span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.danger-text {
  color: $danger-colour;
}

.tweet-article:hover{
  opacity: 1;
  box-shadow: 5px 5px rgba(0,0,0,0.2);
}

.handle{
  visibility: hidden;
  opacity: 0.5;
}

.tweet-article:hover .handle{
  visibility: visible;
}
