$nav-height: 120px;
$header-height: 400px;
$nav-colour: #4056A1;
$primary-font-colour: #545149;
$secondary-font-colour: #f4f1ec;
$header-colour: rgb(255, 166, 0);
$danger-colour: red;
$primary-font-family: "Source Sans Pro", sans-serif;
$secondary-font-family: "Bungee";
$main-width: 90%;