#page-header {
  position: relative;
  top: var(--nav-height);
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  text-align: center;
  margin-bottom: 10px;
}

#header-background{
  height: var(--header-height);
  background-color: var(--header-colour);
}

header h2 {
  margin: 0;
}
