@media only screen and (min-width: 1024px){
  #header-background{
    margin-top: var(--nav-height);
    width: 400px;
    height: 350px;
    margin-left:auto;
    margin-right:auto;
  }
  #page-header{
    position: fixed;
    width: 40%;
  }
  .container{
    float: right;
    width: 55%;
    margin-right: 5%;
  }
}